*{
	padding:0;
	margin:0;
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box ;
	box-sizing:border-box; 
}
body{
	background:url(../img/csxz.jpg); 
	background-size:cover; 
	min-width: 100%;
	min-height: 100%;
	top:50%;
	left: 150%;
	background-attachment:fixed; 
	font-family:Oswald; 
}
.contenedor{
	width:90%;
	max-width:1000px; 
	margin:auto;
}
#particles-js{
	width: 100%;
	height:100%;
	position: fixed;
	background:rgba(0,0,0,.7);   
}
header{
	position:relative;
	height:auto;
}	
header .menu{ 
	background:rgba(255,255,255,.7); 
	overflow:hidden;
}
header .logi{
	color:rgba(0,0,0,.8); 
	float:left;
	font-size:30px; 
	line-height:0px;   
}
header nav{
	float:right;  
}
header nav ul{
	list-style:none;
	margin:auto;  
}
header nav ul li{
	float:left;
}
header nav ul li a{
	color:rgba(0,0,0,.8);
	text-decoration:none;
	margin:20px 25px;
	padding:10px 15px;  
	display:block;
	font-size:18px;
	padding:0 20px;
	line-height:40px;      
}
header nav ul li:hover{
	background:rgba(0,0,0,.8); 
	color:#fff;  
}
header nav ul li a:hover{
	color:#fff; 
}
.texto{
	position:relative; 
	color:#fff;
	padding:40px 0;
	text-align: center;
	font-weight:400;
	font-size: 50px;   
}
.texto h2{
	padding:20px; 
	letter-spacing:2.5px;
	font-weight: normal; 
	background:rgba(0,0,0,.6);
	display:inline-block;  
}
.social{
	position:fixed;
	left:0;
	top:200px;
	z-index:2000;   
}
.social ul{
	list-style:none;
}
.social ul li a{
	display: inline-block;
	color:#fff;
	background: #000; 
	padding:10px 15px;
	text-decoration:none;
	-webkit-transition: all 300ms ease;
  	-o-transition: all 300ms ease;
 	transition: all 300ms ease;  
}
.social ul li .icon-facebook{background:#2556F5;}
.social ul li .icon-twitter{background:#00DEFF;}
.social ul li .icon-google{background:#E3004B ;}
.social ul li .icon-pinterest{background:#FFAE00 ;}
.social ul li .icon-mail{background:#767676;}

.social ul li a:hover{
	padding:10px 30px;
	background:#000;  
}
.principal{
	position:relative;
	color:#000;
}
.principal article{
	padding:20px;
	background:#fff;
	margin-bottom:20px;    
}
.principal article p{
	text-align:justify; 
	margin-bottom:20px;
	line-height:24px;
	font-family:helvetica;   
}
.principal article .fecha{
	color:#939393;
}
footer{
	position:relative; 
	color:rgba(0,0,0,.8);
	background:rgba(255,255,255,.7); 
	width:90%;
	height:90%; 
	max-width:1000px; 
	margin:auto; 
	font-size:18px;
	line-height:40px;
	overflow:hidden;  
 }
 /*Scroll Bar*/
 body::-webkit-scrollbar  {
 	width:8px; 
 	background:rgba(0,0,0,.3); 

 }
 body::-webkit-scrollbar-thumb{
 	background: linear-gradient(#000000,#FFFFFF);
 	border-radius:5px; 
 	border-right:3px solid rgba(255,255,255,.2);
 }
 .img{
 	float: right;
 	border-radius: 5px;
 	margin: 5px 0px 0px 10px;
 }
 .img1{
 	float: left;
 	border-radius: 5px;
 	margin: 5px 10px 0px 0px;
 }
 .vid{
 	position: absolute;
	right: 16%;
	border:solid 3px #000;
	background: #000;
 }
 .img2{
 	float: right;
 	border-radius: 5px;
 	margin: 5px 0px 0px 10px;
 }